{% extends 'dashborad/base.html' %}

{% block content %}
{% if cards %}
<div class="container mb-4 p-4" >
<div class="row row-cols-md-3 g-3">
    {% for card in cards %}
    <!-- 機台卡片 -->
    <div class="col-sm-6 ">
        <!-- 卡片標題 -->
        <div class="card text-dark bg-light mb-3" >
            <div class="card-header text-light bg-dark d-flex align-items-center">
                    <h1 >{{ card.machine_name }}</h1>
            </div>
            <!-- 卡片內部 -->
            <div class="card-body ">
                <!-- 上方標題 -->
                <h2 class="card-title">工令 : {{card.work_no}}</h2>
                <h2 class="card-title pb-3">操作員 : {{card.principal}}</h2>
                <!-- 中間表格 -->
                <div class="text-warning bg-dark rounded m-2">

                    <div class="container rounded">
                        <p class="pt-2">產量</p>
                    <h1 class="text-center pb-2">{{card.production_capacity}}</h1>
                    </div>
                    <div class="container rounded bg-warning text-dark">
                        <p class=" pt-2 ">待檢量</p>
                    <h1 class="text-center pb-2">{{card.check_nums}}</h1>
                    </div>
                    <div class="container rounded">
                        <p class="pt-2">轉速</p>
                    <h1 class="text-center pb-2">{{card.speed}}</h1>
                    </div>
                </div>
                <!-- 進度條 -->
                <div class="row row-cols-1 row-cols-md-2 pt-4 ">
                    
                    <div class="col">
                        <h4 class="p-auto"> 工令完成進度 : </h4>
                    </div>
                    <div class="col pb-1">
                        <div class="progress " style="height: 40px;">
                            <div class="progress-bar" style="width: {{ card.complete_rate }}%; min-width: 3em;" role="progressbar"   aria-valuemin="0" aria-valuemax="100">{{card.complete_rate}} %</div>
                        </div>
                    </div>

                    <div class="col">
                        <h4 class="p-auto"> 生產良率 : </h4>
                    </div>
                    <div class="col pb-1">
                        <div class="progress" style="height: 40px;">
                            <div class="progress-bar"  style="width: {{card.good_rate}}%; min-width: 3em;" role="progressbar"   aria-valuemin="0" aria-valuemax="100">{{card.good_rate}} %</div>
                        </div>
                    </div>
                </div>
                

                
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
            <!-- 更新時間 -->
            <div class="card-footer text-muted text-right">
                    {{card.fiex_time}} ago
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>
  {% else %}
  <p>無機台參數</p>
  {% endif %}
  

{% endblock  %}
  

<!-- 讀取中卡片樣式 -->
<div class="card" aria-hidden="true">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
      <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
    </div>
  </div>